**Segmenting and Clustering Neighborhoods in Toronto**

In [0]:
import pandas as pd

In [5]:
data = pd.read_csv('data-toronto.csv')
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [8]:
data.shape

(287, 3)

**Cleaning and selecting data**

In [9]:
df = data[data.Borough != 'Not assigned']
df = df.sort_values( by=['Postcode','Borough'] )
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
df.head()

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough      Port Union

In [10]:
df.shape

(210, 3)